.jumbotron {
    padding: 5rem 2rem;
    margin-bottom: 1rem;
    background-color: lightgray;
    border-radius: .4rem;  
  }

.section{
    min-height: 320px;
  }

.inner{
    overflow: hidden;
}

.inner img{
transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.typed-text{
    font-weight: normal;
    color: #2600ff;
}

.cursor{
    display: inline-block;
    width: 3px;
    background-color: #ccc;
    margin-left: 0.2rem;
    animation: blink is infinite;
}
@keyframes blink {
    0% { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: #ccc; }
}

.typewrite{
    font-weight: 200;
    color: #2600ff;
}