html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.container{
    margin: 10px auto;
    width: 935px;
    height: 100vh;
}

.content-wrapper{
    height: 650px;
    display: flex;
    flex-direction: row;
}

.left-side, .right-side{
    margin: 100px 0;
}

.right-side .card{
    height: 620px;
    width: 350px;
}

.right-side .card .card-body{
    padding: 20px 50px;
    height: 350px;
    width: 280px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.card-title{
    font-family: 'Billa';
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
}

.form-login{
    display: flex;
    flex-direction: column;
}

.form-login > .username, .password{
    width: 248px;
}

.form-oauth{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.form-oauth > .hr1, .hr2{
    width: 45%;
}

.form-oauth > .hr-info{
    width: 10%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.form-login-oauth{
    display: flex;
    flex-direction: row;
}

.right-side .card .card-registration{
    margin-top: 20px;
    padding: 10px 30px;
    height: 38px;
    width: 320px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.card-registration > p{
    height: 35px;
    line-height: 35px;
    margin: 0;
    text-align: center;
}

.right-side .card .card-footer{
    padding: 15px;
    height: 38px;
    width: 350px;
}

.card-footer > p{
    height: 35px;
    line-height: 35px;
    margin: 0;
    text-align: center;
}

.img-banner{
    display: flex;
    flex-direction: row;
    margin: 10px 40px;
}

.footer{
    width: 600px;
    margin-top: 200px;
}

.footer > ul{
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer > ul > li{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    margin: 5px 5px 3px 5px ;
}